/* TODO Add site wide styles */
img {
  max-width: 800px;
}

.postAvatar {
  max-width: 100px;
  max-height: 100px;
}

.sketchbookCover {
  margin: 0 auto;
  max-width: 230px;
  max-height: 230px;
}

.deleteButton:hover {
  cursor: pointer;
}
